@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #e5e5e5;
  padding-top: 75px;
}

.container {
  padding: 0 100px;
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.btn {
  padding: 7px 20px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.white-btn {
  background: #fff;
  color: #111;
}

.purple-btn {
  background: #9083d5;
  color: #fff;
}

p,
span,
a {
  font-size: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 32px;
  font-weight: 900;
}

h3 {
  font-size: 28px;
  font-weight: 900;
}

h4 {
  font-size: 24px;
  font-weight: 900;
}

h5,
h6 {
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 1186px) {
  h1 {
    font-size: 32px;
    font-weight: 900;
  }
  h2 {
    font-size: 30px;
    font-weight: 900;
  }
}

input[type="date"]:before {
  content: attr(placeholder);
  color: #444;
  margin-right: 0.5em;
}

input[type="time"]:before {
  content: attr(placeholder);
  color: #444;
  margin-right: 0.5em;
}